name: Maven CI Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
    
    - name: Set execute permissions on mvnw
      run: chmod +x ./mvnw

    - name: Build with Maven
      run: ./mvnw clean package
      
    - name: Upload JAR
      uses: actions/upload-artifact@v2
      with:
        name: app-jar
        path: target/DigitalHouse-0.0.1-SNAPSHOT.jar
